.mycss{
    background-image: linear-gradient(rgb(143, 204, 255),rgb(242, 255, 61),rgb(255, 166, 82));  
    color: rgb(0,0,0);
    font-size: 30px;
    border-radius: 25px;
}
.mycssbg{
    background-image: linear-gradient(rgb(143, 204, 255),rgb(242, 255, 61),rgb(255, 166, 82)); 
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

.MyCustomPortalCSS{
    background-image: linear-gradient(rgb(181, 52, 255),#acacac,#51ffc5); 
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 25px;
}

.Some_error{
    background: rgb(255, 95, 95);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}