.mycss{
    background-image: linear-gradient(#000000,#979797,#515dff);  
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 25px;
}
.mycssbg{
    background-image: linear-gradient(#515dff,#979797,#000000); 
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.MyCustomPortalCSS{
    background-image: linear-gradient(#979797,#515dff); 
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 25px;
}

.Some_error{
    background: rgb(255, 95, 95);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}