.App {
  text-align: center;
  background-image: linear-gradient(rgb(37, 37, 37),#636363,#979797);  
  border-radius: 25px;
  color: rgb(236, 246, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  background-image: linear-gradient(rgb(143, 204, 255),rgb(242, 255, 61)); 
  border: 1px solid rgb(255, 98, 98);
}

th, td {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(140, 98, 255);
}

body{
  background: #000000;
}